aclocal.m4
autom4te.cache
config.h.in
config.h.in~
config.h
configure
configure~
compile
depcomp
install-sh
ltmain.sh
missing
*.o
*.lo
.libs/
.deps/
libcalfbox.la
libtool
Makefile.in
Makefile
config.log
config.status
stamp-h1
calfbox
calfbox_tests

__pycache__/
*.py[cod]
*$py.class
build/
config.guess
config.sub
