aclocal.m4
autom4te.cache
config.h.in
config.h.in~
config.h
configure
compile
depcomp
install-sh
ltmain.sh
missing
*.o
.deps/
Makefile.in
Makefile
config.log
config.status
stamp-h1
calfbox

__pycache__/
*.py[cod]
*$py.class
build/
config.guess
config.sub
